#mc_embed_signup{
  background-color:none; 
  clear:left; 
  font:12px Helvetica,Arial,sans-serif;  
  width:200px;
}
#mc_embed_signup label {
  font-size: 20px;
  background-color:none;
}
#mc_embed_signup form {
  background-color: none;
}

body {
  padding-bottom: 40px;
  font-size: 16px;
  color: rgb(190,150,75);
  background: url(../img/logo-100x100.png) fixed ; 
  background-size: 100px 100px;
}
a {
    color: yellow;
}

/*.navbar {
    height: 90px;
    min-width:745px;
}*/

/* Downsize the brand/project name a bit */
.navbar .brand {
  color: rgb(190,150,75);
  padding: 10px 0px 0px 10px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    font-family: 'Changa One', cursive;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  color: rgb(190,150,75);
  padding: 30px 15px;
  font-size: 25px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 30px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel .item img {
   left: -9999px;  /*important */
   right: -9999px;  /*important */
   margin: 0 auto;  /*important */
   max-width: none;  /*important */
   min-width: 100%;
   position: absolute;
}
.carousel-caption {
  background-color: transparent;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.row {
  margin-bottom: 20px;
}

.box-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.container-fluid div.box {
  background-color: rgba(0,0,0,.80);
  padding: 20px;
  margin-top: 30px;
}

a.anchor{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.calendar .entry .date {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.calendar .fbevent {
    float: left;
    margin-top: 17px;
    margin-right: 10px;
    width: 30px;
}
.calendar .fbevent img {
  width:30px;
}

.entry {
    border-top: 3px solid rgb(180,150,0);
    margin-top: 20px;
}

.quotes h2 {
    margin-bottom: 20px;
}

blockquote {
  border-left: 0px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  margin-bottom: 10px;
}
blockquote:before {
  content: open-quote;
  font-size: 2em;
  line-height: 0em;
  margin-right: 8px;
  vertical-align: -0.3em;
}
blockquote:after {
    content:close-quote;
    font-size:2em;
    line-height:.1em;
    margin-right: 20px;
    vertical-align:-.3em;
}
.connect > a {
  float:right;
  z-index: 5;
}
.connect #mc_embed_signup {
  z-index: 1;
  clear:none;
}
.connect img {
  width: 100px;
  z-index:5;
}

iframe[id^='twitter-widget-']{ 
  width:100% !important;
}


@media ( max-width: 480px ) {

  .navbar .brand {
    font-size: 30px;
  }
  h2.box-heading {
    font-size: 25px;
  }
    #calendarContent .date {
    font-size: 20px;
  }
  iframe {
    height: 250px;
  }
  #inthepocketlogo {
    width: 100%;
  }
}
