RewriteEngine on

# RewriteRule ^/cgi-bin/update.cgi$ /cgi-bin/update.cgi [L]
AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . / [L,R=301]

RedirectMatch 404 /\.git
